<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Home</a></h1>
    </header>
    <article>
      <time datetime="">Published</time>
      <h2><a href="">My First Post</a></h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
        corrupti, minus qui totam tempora magnam atque iusto, veritatis
      </p>
    </article>
  </body>
</html>
